<genel-kabin-design>

  <div design-buttons>
    <div class="button-container">

      <div (click)="yeni()" class="button-grup ">
        <div class="img-container">
          <img src="../../../../../assets/icons/add-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yeni</span>
      </div>

      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/refresh.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yenile</span>

      </div>

      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/filter.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Filtrele</span>

      </div>

      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/printer.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yazdır</span>

      </div>

    </div>
  </div>

  <div full-page style="overflow: auto; height: calc(100vh - 136px);">
    <div class="table-container">
      <table class="custom-table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th *ngFor="let type of ['320 Kg', '400 Kg','480 Kg', '630 Kg', '800 Kg','1000 Kg','1250 Kg','2000 Kg']">{{
              type }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let grup of objectKeys">
            <tr style="background: transparent;cursor: default;">
              <td colspan="6"><strong> {{ grup }}</strong></td>
              <td colspan="2" class="tr-options"><a (click)="iscilikSetting()"> İşçilik Ayarları için tıklayın.</a></td>
              <td colspan="2" class="tr-options"><a (click)="genelGiderModal()"> Genel Giderler için tıklayın.</a></td>
            </tr>
            <tr *ngFor="let grupVeri of gruplanmisVeri[grup];let i = index">
              <td> </td>
              <td>{{ grupVeri.ad }}</td>
              <td *ngFor="let type of ['320 KG', '400 KG','480 KG', '630 KG', '800 KG','1000 KG','1250 KG','2000 KG']"
                class="hover-td">
                <ng-container *ngIf="grupVeri._DATA[type]">

                  <a (click)="guncelle(grupVeri._DATA[type])"> {{ grupVeri._DATA[type].malzemeGider +
                    kabinIscilikGiderTutar + kabinGenelGiderTutar| currency:' ₺':'symbol':'1.2-2'}} </a>
                  <ng-container *ngIf="grupVeri._DATA[type].urunBilesenler.length == 0">
                    <a (click)="guncelle(grupVeri._DATA[type])"> {{ 0 |
                      currency:'₺':'symbol':'1.2-2'}} </a>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!grupVeri._DATA[type]">
                  <div style="display: flex;justify-content: space-between;" class="visible-deger">
                    {{ '-' }}
                  </div>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

</genel-kabin-design>