









 <div style="display: grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr ; gap: 4px;">
    <div style="display: flex;
            flex-direction: column;
            border: 1px solid rgb(230, 230, 230);
            color: white; padding: 4px;">
         <kapi-maliyet-form [span]="170" [label]="'Yön'">
            <p-dropdown form-control [options]="yon" [(ngModel)]="frm.yon" optionLabel="ad"
                (ngModelChange)="onYonChange(frm.yon)" />
        </kapi-maliyet-form>
        <kapi-maliyet-form [span]="170" [label]="'Kapı Yüksekliği'">
            <p-dropdown form-control [options]="kapiYuksekligi" [(ngModel)]="frm.kapiYuksekligi" optionLabel="ad"
                (ngModelChange)="onKapiYuksekligiChange(frm.kapiYuksekligi)" />
        </kapi-maliyet-form>
        <kapi-maliyet-form [span]="170" [label]="'Kapı Genişliği'">
            <p-dropdown form-control [options]="kapiGenisligi" [(ngModel)]="frm.kapiGenisligi" optionLabel="ad"
                (ngModelChange)="onKapiGenisligiChange(frm.kapiGenisligi)" />
        </kapi-maliyet-form>

    </div>

    <div
        style="display: flex; flex-direction: column; border: 1px solid rgb(230, 230, 230); color: white; padding: 4px;">
        <kapi-maliyet-form [span]="170" [label]="'Kapı Tipi'">
            <p-dropdown form-control [options]="kapiTipi" [(ngModel)]="frm.kapiTipi" optionLabel="ad"
                (ngModelChange)="onKapiTipiChange(frm.kapiTipi)" />
        </kapi-maliyet-form>
        <kapi-maliyet-form [span]="170" [label]="'Kaplama'">
            <p-dropdown form-control [options]="kaplama" [(ngModel)]="frm.kaplama" optionLabel="ad"
                (ngModelChange)="onKaplamaChange(frm.kaplama)" />
        </kapi-maliyet-form>

     <mat-radio-group (change)="toggleNode()" [disabled]="radioSelect" style="height: 27px;"
        aria-labelledby="example-radio-group-label folder-list m-t-md flex gap-5 hover:cursor-pointer"
        class="example-radio-group"
        [(ngModel)]="selectedKapiGrup">
              <ng-container *ngFor="let item of menu ">
                  <ng-container *ngFor="let sub of item.submenu; let i = index" >
                      <mat-radio-button class="example-radio-button" [value]="sub.label">{{sub.label}}</mat-radio-button>
                  </ng-container>
              </ng-container>
      </mat-radio-group>


      <div (click)="urunfilter()" form-control style="display: flex;margin-top: 10px;
      align-items: center;
      justify-content: center; 
      font-weight: bold; 
      cursor: pointer; 
      background-color: #cacaca;
      color: #201a1a;"> Ürünleri Göster</div>
    </div>
</div>

<div style="display: grid; grid-template-columns:1fr 1fr; gap: 12px;">
    <div>
        <div style="height: 485px;">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Malzeme Giderleri">
                    <kapi-malzeme-giderler-table [malzemeGiderler]="bilesenler" (childFuncStokEkle)="childFuncStokEkle($event)"
                        [selectedMalzemeGiderler]="selectedBilesenRow"
                        [malzemeToplam]="malzemeToplam"></kapi-malzeme-giderler-table>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div style="display: grid; grid-template-columns:2fr 2fr 2fr 3fr  ; gap: 4px;">
            <div style="display: flex; flex-direction: column; border: 1px solid rgb(230, 230, 230); color: white; padding: 4px; background-color: rgb(231 231 231); ">
                <div class="card-container">
                    <div class="card">
                        <div *ngIf="!selectedURUN" class="label" style="border-bottom-left-radius: 0;
                                                                        font-size: 16px;
                                                                        border-bottom-right-radius: 0;
                                                                        height: 20px;">
                         Ürün Seçimi Yapılmadı!
                        </div>
                        <div *ngIf="selectedURUN" class="label" style="border-bottom-left-radius: 0; font-size: 16px;
             border-bottom-right-radius: 0; height: 20px;">

                            {{selectedURUN?.ad}}

                        </div>

                        <div class="label" style="display: flex;
                                           align-items: center;
                                           justify-content: center;
                                           font-size: 14px;
                                           font-weight: bold;color: gray;
                                           border-top-left-radius: 0;
                                           border-top-right-radius: 0;">

                        </div>

                        <div style="display: flex; gap:10px;">

                            <div style="width: 233px;">
                                <kapi-maliyet-form [span]="150" [label]="'Ort Maaş'">
                                    <input [disabled]="true" form-control [(ngModel)]="frm.ortalamaPersonelMaasi"
                                        style="height: 27px;color: gray; width:90px;padding: 0 .25rem 0 0.75rem !important;" class="form-control shadow-none form-control-nullable" 
                                        id="exampleFormControlInput1">
                                </kapi-maliyet-form>

                                <kapi-maliyet-form [span]="150" [label]="'Personel Sayısı'">
                                    <input [disabled]="true" form-control [(ngModel)]="frm.personelSayisi"
                                        style="height: 27px;color: gray; width:90px;" class="form-control shadow-none form-control-nullable"
                                        id="exampleFormControlInput1">
                                </kapi-maliyet-form>

                                <kapi-maliyet-form [span]="150" [label]="'Günlük Üretim'">
                                    <input [disabled]="false" form-control [(ngModel)]="frm.gunlukUretimSayisi"
                                        style="height: 27px; width:90px;" class="form-control shadow-none form-control-nullable"
                                        id="exampleFormControlInput1">
                                </kapi-maliyet-form>
                                <kapi-maliyet-form [span]="150" [label]="'Kar (%)'">
                                    <input [disabled]="false" form-control [(ngModel)]="frm.kar" style="height: 27px;width:90px;;"
                                        class="form-control shadow-none form-control-nullable"
                                        id="exampleFormControlInput1">
                                </kapi-maliyet-form>
                                <kapi-maliyet-form [span]="150" [label]="'Vade Farkı (%)'">
                                    <input [disabled]="false" form-control [(ngModel)]="frm.vadeFarki"
                                        style="height: 27px;width:90px;" class="form-control shadow-none form-control-nullable"
                                        id="exampleFormControlInput1">
                                </kapi-maliyet-form>
                                <div style=" height: 50px;display: flex;justify-content: end;align-items: center;">
                                    <div (click)="Hesapla()" [ngClass]="hesaplaButtonDisabled?'disabled-div':''"
                                        style="background-color: #7F1D1D;
                                               display: flex;
                                               align-items: center;
                                               padding: 5px 10px;
                                               cursor: pointer;
                                               font-size: 14px;
                                               font-weight: bold;">
                                        Maliyet Hesapla
                                    </div>
                                </div>
                            </div>

                            <kapi-maliyet-table 
                           
                            [kasaToplam]="kasaMalzemeToplam"
                            [panelToplam]="panelMalzemeToplam"
                            [mekanizmaToplam]="mekanizmaMalzemeToplam"
                            [malzemeToplam]="malzemeToplam" 

                            [kasaIscilikToplam]="kasaIscilikToplam"
                            [panelIscilikToplam]="panelIscilikToplam"
                            [mekanizmaIscilikToplam]="mekanizmaIscilikToplam"
                            [iscilikToplam]="iscilikToplam" 

                            [toplamMaliyet]="toplamMaliyet"

                            [kasaGenelGiderToplam]="kasaGenelGiderToplam"
                            [panelGenelGiderToplam]="panelGenelGiderToplam"
                            [mekanizmaGenelGiderToplam]="mekanizmaGenelGiderToplam"
                            [genelGiderToplam]="genelGiderToplam"
                            ></kapi-maliyet-table>

                            <kapi-fiyat-table 
                            [kasaPesinFiyat]="kasaPesinFiyat"
                            [kasaVade1Fiyat]="kasaVade1Fiyat"
                            [kasaVade2Fiyat]="kasaVade2Fiyat"
                            [kasaVade3Fiyat]="kasaVade3Fiyat"
                            [panelPesinFiyat]="panelPesinFiyat"
                            [panelVade1Fiyat]="panelVade1Fiyat"
                            [panelVade2Fiyat]="panelVade2Fiyat"
                            [panelVade3Fiyat]="panelVade3Fiyat"
                            [mekanizmaPesinFiyat]="mekanizmaPesinFiyat"
                            [mekanizmaVade1Fiyat]="mekanizmaVade1Fiyat"
                            [mekanizmaVade2Fiyat]="mekanizmaVade2Fiyat"
                            [mekanizmaVade3Fiyat]="mekanizmaVade3Fiyat"
                            [pesinToplam]="pesinToplam"
                            [vade1Toplam]="vade1Toplam"
                            [vade2Toplam]="vade2Toplam"
                            [vade3Toplam]="vade3Toplam"

                            ></kapi-fiyat-table>
                        </div>



                    </div>
                </div>


            </div>


        </div>
    </div>
    <div>
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="İşçilik Giderleri">
                <kapi-iscilik-giderler-table [iscilikGiderler]="iscilikGiderler" (childFunc)="IscilikDeleteFunc($event)" (personelChildFunc)="personelEkleDialog($event)"
                    [iscilikToplam]="iscilikToplam"></kapi-iscilik-giderler-table> 

                    
            </p-accordionTab>
            <p-accordionTab header="Genel Giderler (Gün Bazında)">
                <kapi-genel-giderler-table [genelGiderler]="gruplanmisVeri['Kapı Fabrikası']"
                [genelGiderToplam]="genelGiderToplam"
                    [selectedGenelGiderler]="selectedBilesenRow"></kapi-genel-giderler-table>
            </p-accordionTab>
        </p-accordion>

    </div>
</div>




























