<!-- <genel-design>



  <div design-buttons>
    <div class="button-container">

      <div (click)="yeni()" class="button-grup ">
        <div class="img-container">
          <img src="../../../../../assets/icons/add-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yeni</span>
      </div>

      <div (click)="sil()" class="button-grup">
        <div class="img-container">
          <img src="../../../../../assets/icons/delete-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Sil</span>
      </div>

      <div (click)="guncelle()" class="button-grup">
        <div class="img-container">
          <img src="../../../../../assets/icons/edit-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Düzelt</span>
      </div>



      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/refresh.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yenile</span>
      </div>

      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/filter.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Filtrele</span>
      </div>


    </div> 

  </div>



  <div full-page style="overflow: auto; height: calc(100vh - 136px);">

    <div>



      <app-kabin-maliyet-tablosu></app-kabin-maliyet-tablosu>



    </div>



  </div>

</genel-design> -->














<div class="main-content">



  <div class="cells">
    <div class="cells__spacer"></div>
    <div class="cells__alphabet">A</div>
    <div class="cells__alphabet">B</div>
    <div class="cells__alphabet">C</div>
    <div class="cells__alphabet">D</div>
    <div class="cells__alphabet">E</div>
    <div class="cells__alphabet">F</div>
    <div class="cells__alphabet">G</div>
    <div class="cells__alphabet">H</div>
    <div class="cells__alphabet">I</div>
    <div class="cells__alphabet">J</div>
    <div class="cells__alphabet">K</div>
    

    <div style="color: rgb(97, 0, 0);" class="cells__number" *ngFor="let item of excelSatirSayisi">
      {{item|json}}
    </div>



    
     

    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>
    <input class="cells__input"/>



     <input class="cells__input" *ngFor="let item of excelHucreSayisi"/>



    

    
  </div>
</div>


