<div class="flex w-full " style="height: calc(100vh - 85px);  ">
    <div id="sidebar-menu" class="ibox overflow-auto min-w-52 md:min-w-56 md:max-w-56 "
        style="border-right: 1px solid rgba(0, 0, 0, 0.06);">
        <div class="ibox-content mailbox-content p-1" style="width: calc(100vw - 300px);">
            <div class="file-manager " style="display: flex;">
  
                <div class="space-25"></div>
                <ng-container *ngFor="let item of menu ">
  
                    <div class="space-25"></div>
                    <h5>{{item.label}} </h5>
  
                    <ul class="folder-list m-b-md" style="padding: 0;min-width: 225px;">
                        <ng-container *ngFor="let sub of item.submenu; let i = index">
                            <ng-container *ngIf="sub.submenu.length==0 ; else elseSub">
  
                                <ng-container *ngIf="sub.href==''; else elseSub3">
                                    <li  class="hover:bg-slate-200 px-2"><a
                                            class='w-[180px] whitespace-nowrap overflow-hidden text-ellipsis'> <i
                                                class="{{sub.icon}}"></i>
                                            {{sub.label}}
                                        </a></li>
                                </ng-container>
                                <ng-template #elseSub3>
                                    <li class="hover:bg-slate-200 px-2"><a
                                            class='w-[180px] whitespace-nowrap overflow-hidden text-ellipsis'
                                            routerLink="{{sub.href}}"> <i class="{{sub.icon}}"></i>
                                            {{sub.label}}
                                        </a></li>
                                </ng-template>
  
  
  
                            </ng-container>
                            <ng-template #elseSub>
  
                                <li>
  
                                    <div (click)="toggleNode(sub)"
                                        class="flex items-center justify-between hover:bg-slate-200 px-2 cursor-pointer">
                                        <a class='w-[180px] whitespace-nowrap overflow-hidden text-ellipsis'> <i
                                                class="fa fa-inbox"></i> {{sub.label}}</a>
                                        <i *ngIf="sub.expanded" class="fa-solid fa-sort-down"></i>
                                        <i *ngIf="!sub.expanded" class="fa-solid fa-caret-right"></i>
  
                                    </div>
                                    <ul *ngIf="sub.expanded && sub.submenu.length>0" >
                                        <ng-container *ngFor="let child of sub.submenu">
  
                                            <ng-container *ngIf="child.href==''; else elseSub3">
                                                <li class="pl-4 "><a
                                                        class='w-[180px] whitespace-nowrap overflow-hidden text-ellipsis'>
                                                        <i class="fa fa-file "></i>
                                                        {{child.label}} </a>
                                                </li>
                                            </ng-container>
  
                                            <ng-template #elseSub3>
                                                <li class="pl-4 "><a routerLink="{{child.href}}"
                                                        class='w-[180px] whitespace-nowrap overflow-hidden text-ellipsis'>
                                                        <i class="fa fa-file "></i>
                                                        {{child.label}} </a>
                                                </li>
                                            </ng-template>
  
                                        </ng-container>
  
                                    </ul>
                                </li>
  
  
                            </ng-template>
                        </ng-container>
  
                    </ul>
  
  
  
  
  
                </ng-container>
                <div class="animated fadeInRight w-full " style="width: 100%;" >
                  <router-outlet></router-outlet> 
            
              </div>
            </div>
        </div>
  
      
    </div>
  
    <!-- <div class="animated fadeInRight w-full ">
        <router-outlet></router-outlet> 
  
        
  
  
  
    </div> -->
  </div>









