<div class="grid grid-cols-[2fr_2fr_1fr] gap-1 ">

    <div class=" p-1 text-white">
        <div class="card h-full ">
            <div class="card-body  rounded overflow-hidden ">
                <div style="padding: 0 10px;">
                    <maliyet-form [span]="130" [label]="'Karkas Tipi'">
                        <p-dropdown form-control [options]="suspansiyonCinsi" [(ngModel)]="frm.suspansiyonCinsi" optionLabel="ad"
                            (ngModelChange)="ngModelChange()"  />
                    </maliyet-form>

                    <maliyet-form [span]="130" [label]="'Ad'">
                        <p-autoComplete form-control [(ngModel)]="selectedUrunler" [dropdown]="true"
                            placeholder="Ürün giriniz.." (onFocus)="onFocus()" (ngModelChange)="ngModelChange()"
                            [suggestions]="filteredUrunler" (completeMethod)="filterUrunler($event)" optionLabel="ad"
                            field="ad" />
                    </maliyet-form>

                    <maliyet-form [span]="130" [label]="'Kapasite'">
                        <p-dropdown form-control [options]="kapasite" [(ngModel)]="frm.kapasite" optionLabel="ad"
                            (ngModelChange)="ngModelChange()" placeholder="Kapasite seçiniz.." />
                    </maliyet-form>

                    <maliyet-form [span]="130" [label]="'Askı Tipi'">
                        <p-dropdown (ngModelChange)="ngModelChange()" form-control [options]="askiTipleri" [(ngModel)]="frm.askiTipi" optionLabel="ad"
                            placeholder="Askı tipi seçiniz.." />
                    </maliyet-form>

                    <!-- <maliyet-form [span]="130" [label]="'Ray Arası'">
                        <p-dropdown form-control [options]="rayArasi" [(ngModel)]="frm.rayArasi" optionLabel="ad"
                            placeholder="Ray arası seçiniz.." />
                    </maliyet-form> -->
                    <maliyet-form [span]="130" [label]="'Ray Arası'">
                        <input form-control [(ngModel)]="frm.rayArasi" name="kosebent"
                            class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
                    </maliyet-form>

                    <maliyet-form [span]="130" [label]="'Köşebent'">
                        <input form-control [(ngModel)]="frm.kosebent" name="kosebent"
                            class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
                    </maliyet-form>

                    <maliyet-form [span]="130" [label]="'Sac Ağırlığı'">
                        <input form-control [(ngModel)]="frm.sacAgirligi" name="sacAgirligi"
                            class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
                    </maliyet-form>

                    <maliyet-form [span]="130" [label]="'Top. Ağırlık'">
                        <input form-control [(ngModel)]="frm.toplamAgirlik" name="toplamAgirlik"
                            class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
                    </maliyet-form>

                    <maliyet-form [span]="130" [label]="'Açıklama'">
                        <input form-control [(ngModel)]="frm.aciklama" name="aciklama"
                            class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
                    </maliyet-form>
                </div>




            </div>
            <div class="card-footer py-1">
                <small class="text-muted flex justify-between items-center">
                    Son Hesapla: 3 gün önce

                    <div (click)="hesapla()" class="hover:cursor-pointer hover:bg-slate-200 p-1 rounded-sm text-base">
                        Hesapla</div>
                </small>
            </div>
        </div>
    </div>
    <div class=" p-1 text-white flex flex-col border">

        <p-table [value]="rowData" dataKey="id" selectionMode="multiple" [(selection)]="selectedRows"
            [metaKeySelection]="false" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th>Ad</th>
                    <th>Miktar</th>
                    <th>Birim</th>
                    <th>Birim Fiyat</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
                    <td>
                        <p-tableCheckbox [value]="product" />
                    </td>
                    <td>{{ product.ad }}</td>
                    <td>{{ product.miktar }}</td>
                    <td>{{ product.birim }}</td>
                    <td>{{ product.birimFiyat }}</td>
                </tr>
            </ng-template>
        </p-table>

    </div>
    <div class=" p-1 text-white">
        <p-table [value]="rowDataPersonel" dataKey="id" selectionMode="multiple" [(selection)]="selectedPersonelRows"
            [metaKeySelection]="false">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th>Ad</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
                    <td>
                        <p-tableCheckbox [value]="product" />
                    </td>
                    <td>{{ product.ad }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>





</div>

<table class="yks_table_group ">
    <tbody>

        <tr style="height: 25px !important;">
            <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                <label style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #7a0000;">Birim Maliyet :
                </label>
            </td>
            <td style="width: 100%;">

                <label style=" min-width: 60px; 
                font-weight: 600; 
                font-size: 13px; 
                color: #666666;">

                    <span> 17140.23 ₺ </span>


                </label>
            </td>

        </tr>
        <tr style="height: 25px !important;">
            <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                <label style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #7a0000;">İşçilik :
                </label>
            </td>
            <td style="width: 100%;">

                <label style=" min-width: 60px; 
                font-weight: 600; 
                font-size: 13px; 
                color: #666666;">

                    <span> 6456.62 ₺ </span>


                </label>
            </td>

        </tr>


        <tr style="height: 25px !important;">
            <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                <label style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #7a0000;">Toplam Maliyet
                    :
                </label>
            </td>
            <td style="width: 100%;">

                <label style=" min-width: 60px; 
            font-weight: 600; 
            font-size: 13px; 
            color: #666666;">

                    <span> 23596.62 ₺
                    </span>


                </label>
            </td>

        </tr>





    </tbody>
</table>