


<stok-tanimlar-design>



    <div design-buttons>
      <div class="button-container">
  
        <div  (click)="EkleDialog()" class="button-grup ">
          <div class="img-container">
            <img src="../../../../../assets/icons/add-file.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Yeni</span>
          <!-- <i class="fa-solid fa-sort-down sort-down-icon"></i> -->
        </div>
  
        <div  class="button-grup" [ngClass]="buttonDisabled?'disabled':''">
          <div class="img-container">
            <img src="../../../../../assets/icons/delete-file.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Sil</span>
  
        </div>
  
        <div  class="button-grup"
        [ngClass]="buttonDisabled?'disabled':'' " [ngClass]="buttonUpdateDisabled?'disabled':''">
          <div class="img-container">
            <img src="../../../../../assets/icons/edit-file.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Düzelt</span>
  
        </div>
  
        <div  class="button-grup">
          <div class="img-container">
            <img src="../../../../../assets/icons/refresh.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Yenile</span>
  
        </div>
  
        <div  class="button-grup">
          <div class="img-container">
            <img src="../../../../../assets/icons/filter.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Filtrele</span>
  
        </div>
  
        <div class="button-grup disabled">
          <div class="img-container">
            <img src="../../../../../assets/icons/printer.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Yazdır</span>
  
        </div>
  
  
        <div class="button-grup " [ngClass]="buttonDisabled?'disabled':''" aria-expanded="false"
          data-bs-toggle="dropdown">
          <div class="img-container">
            <img src="../../../../../assets/icons/other.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Diğer</span>
  
        </div>
  
        <ul class="dropdown-menu dropdown-action-menu" style="z-index: 9999;">
          <li type="button">
            <a class="dropdown-item dropdown-action-item">Item 1</a>
          </li>
          <li type="button">
            <a class="dropdown-item dropdown-action-item">Item 2</a>
          </li>
  
  
  
        </ul>
  
  
        <!-- <p-divider layout="vertical"></p-divider> -->
  
  
  
  
  
  
  
  
  
  
  
  
      
  
      </div>
  
    </div>
  
  
  
    <div full-page>
        <ag-grid-angular #agGrid style="height:calc(100vh - 180px);" class="ag-theme-quartz" [rowData]="rowData"
        [defaultColDef]="defaultColDef" [columnDefs]="colDefs" (rowDoubleClicked)="rowDblClick($event)"
        (gridReady)="getList($event)" (selectionChanged)="rowClick()" [rowSelection]="rowSelection" [rowHeight]="22"
        [headerHeight]="23" [localeText]="localeText">
      </ag-grid-angular>
    </div>
  
  
  </stok-tanimlar-design>






    
  
  <!-- Kabin Ekleme  -->
  
  <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">KABIN</span>
    </ng-template>
  


    <div class="grid grid-cols-[1fr] gap-1 ">
      
  
      <div class="grid  gap-1">
        
        <div class=" p-1 text-white flex flex-col  ">
          <stok-form [span]="170" [label]="'Ad'">
            <input form-control [(ngModel)]="frm.ad" name="ad"
                class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
          </stok-form>

          <stok-form [span]="170" [label]="'Birim'">
            <p-dropdown form-control [options]="birim" [(ngModel)]="frm.birim" optionLabel="ad"
                (ngModelChange)="onBirimChange(frm.birim)" appendTo="body"  
                [panelStyle]="{ 'z-index': '9999' }" />
        </stok-form>

        <stok-form [span]="170" [label]="'Stok Grubu'">
            <p-dropdown form-control [options]="stokGrubu" [(ngModel)]="frm.stokGrubu" optionLabel="ad"
                (ngModelChange)="onStokGrubuChange(frm.stokGrubu)" appendTo="body"  
                [panelStyle]="{ 'z-index': '9999' }"/>
        </stok-form>
        <stok-form [span]="170" [label]="'Birim Fiyat'">
          <input type="number" form-control [(ngModel)]="frm.birimFiyat" name="ad"
              class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
        </stok-form>
        <stok-form [span]="170" [label]="'Birim'">
          <p-dropdown form-control [options]="dovizCinsi" [(ngModel)]="frm.dovizCinsi" optionLabel="ad"
              (ngModelChange)="onDovizCinsiChange(frm.dovizCinsi)" appendTo="body"  
              [panelStyle]="{ 'z-index': '9999' }" />
      </stok-form>

        </div>

      </div>
  
  

    </div>


  
  
    <ng-template pTemplate="footer" let-urun>
      <div (click)="kaydet()"
        class="bg-green-900 flex items-center justify-center font-bold hover:bg-green-800 hover:cursor-pointer text-white ">
        KAYDET</div>
    </ng-template>
  </p-dialog>