<buton-design>



  <div design-buttons>
    <div class="button-container">

      <div (click)="yeni()" class="button-grup ">
        <div class="img-container">
          <img src="../../../../../assets/icons/add-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yeni</span>
      </div>

      <div (click)="sil()" class="button-grup" [ngClass]="buttonDisabled?'disabled':''">
        <div class="img-container">
          <img src="../../../../../assets/icons/delete-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Sil</span>

      </div>

      <div (click)="guncelle()" class="button-grup" [ngClass]="buttonDisabled?'disabled':'' ">
        <div class="img-container">
          <img src="../../../../../assets/icons/edit-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Düzelt</span>

      </div>

      <div class="button-grup">
        <div class="img-container">
          <img src="../../../../../assets/icons/refresh.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yenile</span>

      </div>

      <div class="button-grup">
        <div class="img-container">
          <img src="../../../../../assets/icons/filter.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Filtrele</span>

      </div>

      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/printer.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yazdır</span>

      </div>





    </div>

  </div>

  
  
  
    <div full-page>
      <ag-grid-angular #agGrid style="height:calc(100vh - 180px);" class="ag-theme-quartz" [rowData]="rowData"
        [defaultColDef]="defaultColDef" [columnDefs]="colDefs" (rowDoubleClicked)="rowDblClick($event)"
        (gridReady)="getList($event)" (selectionChanged)="rowClick()" [rowSelection]="rowSelection" [rowHeight]="22"
        [headerHeight]="23" [localeText]="localeText">
      </ag-grid-angular>
    </div>
  
  
  </buton-design>
  
  
  
  
  
  <!-- Kabin Ekleme  -->
  

  
  
  
  
  
  
  <!--Malzeme Giderleri Ekleme -->
  
  <p-dialog header="Header" [(visible)]="stoklarVisible" [modal]="true" [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
      <span class="text-xl font-bold"></span>
    </ng-template>
  
    <p-table id="row-check" [value]="stoklar"  dataKey="id" selectionMode="multiple" [tableStyle]="{'min-width': '50rem'}"
    [style]="{'min-height':' 350px'}" [scrollable]="true" scrollHeight="350px" [(selection)]="selectedStokEkle">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center;color: rgb(99, 0, 0);" colspan="6">
          Stoklar
          <div class="button-container" style="position: absolute;right: 0;top: 0;">
          
            <div class="button-grup " style="gap: 3px !important;">
              <div class="img-container">
                <img style="width: 25px; height: 25px;" src="../../../../../assets/icons/add-file.png" alt="">
              </div>
  
            </div>
  
            <div class="button-grup " style="gap: 3px !important;">
              <div class="img-container">
                <img style="width: 25px; height: 25px;" src="../../../../../assets/icons/delete-file.png" alt="">
              </div>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        
        <th style="font-size: 13px;">Ad</th>
        <th style="font-size: 13px;">Birim</th>
        <th style="font-size: 13px;">b=Fiyat(TL)</th>
  
      </tr>
    </ng-template>
  
  
    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
      <tr  [pSelectableRow]="customer" [pSelectableRowIndex]="rowIndex" [pEditableRow]="customer">
        
        <td>
          {{customer.ad}}
        </td>
        <td>
          {{customer.birim}}
        </td>
        <td>
          {{customer.birimFiyat}}
        </td>
       
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="2" class="text-right" style="font-size: 13px;">Toplam</td>
        <td style="font-size: 13px;">{{0 | currency: 'USD'}}</td>
      </tr>
    </ng-template>
  </p-table>
  
  
  
    <ng-template pTemplate="footer" let-urun>
      <!-- <div (click)="kaydet()"
        class="bg-green-900 flex items-center justify-center font-bold hover:bg-green-800 hover:cursor-pointer text-white ">
        EKLE</div> -->
  
        <div class="flex justify-end">
          <div (click)="stokEkle()" style="width: 60px;" class="bg-green-900 flex items-center justify-center font-bold hover:bg-green-800 hover:cursor-pointer text-white px-2">
           Ekle
          </div>
        </div>
    </ng-template>
  </p-dialog>
  
  
  <!--İşçilik Giderleri Ekleme -->
  <p-dialog header="Header" [(visible)]="personellerVisible" [modal]="true" [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
      <span class="text-xl font-bold"></span>
    </ng-template>
  
    <p-table id="row-check" [value]="personeller"  dataKey="id" selectionMode="multiple" [tableStyle]="{'min-width': '50rem'}"
    [style]="{'min-height':' 350px'}" [scrollable]="true" scrollHeight="350px" [(selection)]="selectedPersonelEkle">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center;color: rgb(99, 0, 0);" colspan="6">
          Stoklar
          <div class="button-container" style="position: absolute;right: 0;top: 0;">
          
            <div class="button-grup " style="gap: 3px !important;">
              <div class="img-container">
                <img style="width: 25px; height: 25px;" src="../../../../../assets/icons/add-file.png" alt="">
              </div>
  
            </div>
  
            <div class="button-grup " style="gap: 3px !important;">
              <div class="img-container">
                <img style="width: 25px; height: 25px;" src="../../../../../assets/icons/delete-file.png" alt="">
              </div>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        
        <th style="font-size: 13px;">Ad</th>
        <th style="font-size: 13px;">Birim</th>
        <th style="font-size: 13px;">b=Fiyat(TL)</th>
  
      </tr>
    </ng-template>
  
  
    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
      <tr  [pSelectableRow]="customer" [pSelectableRowIndex]="rowIndex" [pEditableRow]="customer">
        
        <td>
          {{customer.ad}}
        </td>
        
        <td>
          {{customer.maas}}
        </td>
       
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="2" class="text-right" style="font-size: 13px;">Toplam</td>
        <td style="font-size: 13px;">{{0 | currency: 'USD'}}</td>
      </tr>
    </ng-template>
  </p-table>
  
  
  
    <ng-template pTemplate="footer" let-urun>
      <!-- <div (click)="kaydet()"
        class="bg-green-900 flex items-center justify-center font-bold hover:bg-green-800 hover:cursor-pointer text-white ">
        EKLE</div> -->
  
        <div class="flex justify-end">
          <div (click)="personelEkle()" style="width: 60px;" class="bg-green-900 flex items-center justify-center font-bold hover:bg-green-800 hover:cursor-pointer text-white px-2">
           Ekle
          </div>
        </div>
    </ng-template>
  </p-dialog>