
<ul class="nav nav-tabs">
    <ng-container *ngFor="let item of menu">
        <ng-container *ngFor="let item of item.submenu">
            <li [class.active]="selectedTab === item.tabItem" (click)="selectTab(item)" >
                <a class="tab-item text-slate-600 text-2xl group-hover:text-cyan-700" >{{item.label}}</a>
            </li>
        </ng-container>
    </ng-container>
</ul>

<div  style="height: calc(100vh - 85px); display: flex; width: 100%;">
    <div  style="width: 100%;">
        <router-outlet></router-outlet>
    </div>
</div>