<genel-gider-design>



  <div design-buttons>
    <div class="button-container">

      <div (click)="yeni()" class="button-grup ">
        <div class="img-container">
          <img src="../../../../../assets/icons/add-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yeni</span> 
      </div>

      <div (click)="sil()" class="button-grup" [ngClass]="buttonDisabled?'disabled':''">
        <div class="img-container">
          <img src="../../../../../assets/icons/delete-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Sil</span>
      </div>

      <div (click)="guncelle()" class="button-grup" [ngClass]="buttonDisabled?'disabled':'' "
        [ngClass]="buttonUpdateDisabled?'disabled':''">
        <div class="img-container">
          <img src="../../../../../assets/icons/edit-file.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Düzelt</span>
      </div>

      <div (click)="guncelleKatsayi()" class="button-grup " [ngClass]="buttonDisabled?'disabled':''">
        <div class="img-container">
          <img src="../../../../../assets/icons/cashbook.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Katsayılar</span>
      </div>
      
      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/refresh.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Yenile</span>
      </div>

      <div class="button-grup disabled">
        <div class="img-container">
          <img src="../../../../../assets/icons/filter.png" alt="">
        </div>
        <span class="d-none d-sm-inline button-label">Filtrele</span>
      </div>

      
    </div>

  </div>



  <div full-page style="overflow: auto; height: calc(100vh - 136px);">

    <div>
      <table class="table table-bordered" style="width: 1000px;">
        <thead>
          <tr>
            <th></th>
            <th>Gider Adı</th>
            <th *ngFor="let type of ['Kabin', 'Buton', 'Süspansiyon', 'Makine Şasesi', 'Kapı']">{{ type }}</th>
            <th>Tutar (<span style="font-size: 11px;">Aylık</span>)</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let fabrika of objectKeys">
            <tr style="background: transparent;cursor: default;">
              <td colspan="8"><strong> {{ fabrika }}</strong></td>
            </tr>
            <tr (click)="rowClick(gider)" [ngClass]="{'selected-row': selectedRowEvent === gider}" [class.selected]="isSelected(gider)" *ngFor="let gider of gruplanmisVeri[fabrika];let i = index">
              <td> </td>
              <td>{{ gider.ad }}</td>
              <td *ngFor="let type of ['kabin', 'buton', 'suspansiyon', 'makineSasesi', 'kapi']">
                <ng-container *ngIf="gider.katsayilar[type]">
                  {{ gider.katsayilar[type].tutar | currency:' ₺':'symbol':'1.2-2'}}
                </ng-container>
                <ng-container *ngIf="!gider.katsayilar[type]">
                  {{ '-' }}
                </ng-container>
              </td>
              <td>{{ gider.tutar | currency:' ₺':'symbol':'1.2-2'}}</td>
            </tr>
          </ng-container>
          
        </tbody>
      </table>












      
    </div>



  </div>

</genel-gider-design>

<p-dialog  [modal]="true" [(visible)]="visibleKatsayilar" [style]="{ width: '50rem' }">
 
  <p-table id="row-check" [value]="katsayilarArray" [style]="{'min-height':' 200px'}" [scrollable]="true"
  scrollHeight="400px" selectionMode="single" [(selection)]="selectedDialogRowEvent" >

  <ng-template pTemplate="header">
 
    <tr>
      <th style="font-size: 13px;">Değer Adı</th>
      <th style="font-size: 13px;">Tür</th>
      <th style="font-size: 13px;">Değer</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
    <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex" [pEditableRow]="product">

      
      <td>{{ product.ad }}</td>
      <td>{{ product.tur }}</td>
      <td [pEditableColumn]="product.deger" pEditableColumnField="deger">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="number" form-control [(ngModel)]="product.deger" name="deger" 
              class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
          </ng-template>
          <ng-template pTemplate="output">
            {{product.deger}}
          </ng-template>
        </p-cellEditor>
      </td>
  
      
    </tr>
  </ng-template>


</p-table> 






  <!-- <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Username</label>
      <input pInputText id="username" class="flex-auto" autocomplete="off" />
  </div>

  <div class="flex items-center gap-4 mb-8">
      <label for="email" class="font-semibold w-24">Email</label>
      <input pInputText id="email" class="flex-auto" autocomplete="off" />
  </div> -->


  <div class="flex justify-end gap-2"></div>
</p-dialog>