

<div class="modal-header "style="    padding: 0rem 0rem;">
    <h4 class="modal-title"></h4>
    <h4 class="modal-title"> </h4>
    <button type="button" class="btn-close" style="border: none; height: 30px; width: 30px;" aria-label="Close" (click)="activeModal.close(false)">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>



<div class="">
    <div class="container-fluid">
        <div class="panel header" data-resize-name="header">
            <div class="content">
                <div class="actions" style="padding: 2px 0px 2px 0px; display: flex;">
                    <div class="action-items" style="width: 100%; display: flex; align-items: center;">

                        <div class="action-left">
                            <div class="btn-group ml-1 mr-1">

                                <div class="button-container">

                                    <div class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/add-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Yeni</span>

                                    </div>

                                    <div (click)="Kaydet()" class="button-grup ">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/save.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Kaydet</span>

                                    </div>

                                    <div class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/delete-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Sil</span>

                                    </div>

                                    <div (click)="cikis()" class="button-grup">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/close.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Çıkış</span>

                                    </div>




                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div >

            <div >





                <stok-form [span]="155" [label]="'Ad'">
                    <input form-control [(ngModel)]="frm.ad" name="ad" 
                        class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
                </stok-form>

                <stok-form [span]="155" [label]="'Birim'" (valueChangeFunc)="onBirimChange(frm.birim)">
                    <p-dropdown  form-control [options]="birim" [(ngModel)]="frm.birim" optionLabel="ad"
                (ngModelChange)="onBirimChange(frm.birim)" appendTo="body"  
                [panelStyle]="{ 'z-index': '99999'  }" />

                </stok-form>
                <stok-form [span]="155" [label]="'Stok Grubu'">
                    <p-dropdown form-control [options]="stokGrubu" [(ngModel)]="frm.stokGrubu" optionLabel="ad"
                        (ngModelChange)="onStokGrubuChange(frm.stokGrubu)" appendTo="body"
                        [panelStyle]="{ 'z-index': '9999'  }" />
                </stok-form>
                <stok-form [span]="155" [label]="'Birim Fiyat'">
                    <input type="number" form-control [(ngModel)]="frm.birimFiyat" name="ad" 
                        class="form-control shadow-none form-control-nullable" id="exampleFormControlInput1">
                </stok-form>
                <stok-form [span]="155" [label]="'Birim'">
                    <p-dropdown form-control [options]="dovizCinsi" [(ngModel)]="frm.dovizCinsi" optionLabel="ad"
                        (ngModelChange)="onDovizCinsiChange(frm.dovizCinsi)" appendTo="body"
                        [panelStyle]="{ 'z-index': '9999'  }" />
                </stok-form>
            </div>


        </div>
    </div>
</div>